@tailwind base;
@tailwind components;
@tailwind utilities;

.react-modal-overlay {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content:center;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
}

.react-modal-content {
  max-width:576px;
  width:100%;
  background: #e4e4e7;
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;
}